{% extends 'layout/base.html' %}

{% block title %}Very basic kickstart Bottle kit{% endblock %}

{% block content %}
  <section class="hero is-light is-medium is-bold has-text-centered">
    <div class="hero-body">
      <div class="container">
        <img src="/static/images/bottle-vue-kickstart-logo-horizontal.svg"
             alt="Bottle Vue Kickstart logo"/>
        <h1 class="title">Very basic Bottle kickstart kit with Vue.js and
          Webpack</h1>
        <h2 class="subtitle">Included Axios, Babel, Webpack config and demo app
          with Bulma.</h2>
        <a class="github-button"
           href="https://github.com/koddr/bottle-vue-kickstart/archive/master.zip"
           data-icon="octicon-cloud-download" data-size="large"
           aria-label="Download koddr/bottle-vue-kickstart on GitHub">Download</a>
      </div>
    </div>
  </section>
  <section class="hero is-warning is-medium is-bold has-text-centered">
    <div class="hero-body">
      <div class="container">
        <div v-if="result">
          <h3 class="title">Hints from SQLite Database (Vue.js + Axios)</h3>
          <div class="articles">
            <div class="columns is-desktop">
              <div class="column" v-for="article in result.data">
                <div class="card">
                  <div class="card-content">
                    <h3>[[ article.description ]]</h3>
                    <strong>[[ article.title ]]</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <h3 class="title">Uh-Oh.. I didn't find any objects in the Database!</h3>
          <p>Please run <code>$ python install.py</code> from project dir.</p>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer has-text-centered">
    <div class="container">
      <div class="columns">
        <div class="column">
          <a class="github-button"
             href="https://github.com/koddr/bottle-vue-kickstart"
             data-icon="octicon-star"
             data-size="large" data-show-count="true"
             aria-label="Star koddr/bottle-vue-kickstart on GitHub">Star</a>
          <a class="github-button"
             href="https://github.com/koddr/bottle-vue-kickstart/subscription"
             data-icon="octicon-eye" data-size="large" data-show-count="true"
             aria-label="Watch koddr/bottle-vue-kickstart on GitHub">Watch</a>
          <a class="github-button"
             href="https://github.com/koddr/bottle-vue-kickstart/fork"
             data-icon="octicon-repo-forked" data-size="large"
             data-show-count="true"
             aria-label="Fork koddr/bottle-vue-kickstart on GitHub">Fork</a>
        </div>
        <div class="column">
          <a href="https://1wa.co" target="_blank">Made with &hearts;
            in Russia, St. Petersburg</a>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
